.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b1f0b;
  padding: 15px 30px;
  color: #f2a007;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-logo h2 {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #f2a007;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-links li a:hover {
  color: #f2a007;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer; /* 🔥 clave */
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo-container:hover {
  opacity: 0.8;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.traductor-li {
  display: flex;
  align-items: center;
}

.traductor-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Oculta el traductor original */
#google_translate_element {
  display: none;
}

.traductor-container button {
  background: #c28b37;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.traductor-container button:hover {
  transform: scale(1.05);
  background: #e0a84a;
}

/* Oculta barra fea de Google */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0px !important;
}

.skiptranslate iframe {
  display: none !important;
}
