.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.skiptranslate iframe {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}
